@import 'tailwindcss';

@theme {
  --color-primary-500: #00527a;
  --color-primary-900: #00293d;
}

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply text-primary-900 text-pretty;
  }

  h1 {
    @apply mb-4 text-3xl font-bold text-balance md:mb-6 lg:mb-8 xl:mb-10;
  }

  h2 {
    @apply mb-4 text-2xl font-bold text-balance md:mb-6 lg:mb-8 xl:mb-10;
  }

  h3 {
    @apply mb-3 text-xl font-semibold text-balance md:mb-4;
  }

  h4 {
    @apply mb-3 text-lg font-medium text-balance md:mb-4;
  }

  h5 {
    @apply mb-3 text-base font-medium text-balance md:mb-4;
  }

  h6 {
    @apply mb-3 text-base font-medium text-balance md:mb-4;
  }
}

/* Spacing */

@utility px-content {
  @apply px-4 md:px-6 lg:px-8 xl:px-12;
}

@utility py-content {
  @apply py-4 md:py-6;
}

/* Form elements */

@utility field {
  @apply flex flex-col gap-2;
}

@utility form-control {
  @apply rounded-lg border-1 border-stone-500 px-4 py-2 font-medium;
}

/* UI elements */

@utility btn-primary {
  @apply bg-primary-500 rounded-lg px-4 py-2 font-bold text-white;
}
