@import 'tailwindcss';

@theme {
  --color-primary-300: #7ccbf3;
  --color-primary-400: #62c0ef;
  --color-primary-500: #00527a;
  --color-primary-900: #00293d;
}

@layer base {
  html {
    height: 100%;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply text-primary-900 h-full text-pretty;
  }

  h1 {
    @apply mb-4 text-3xl font-bold text-balance md:mb-5 md:text-4xl lg:mb-6;
  }

  h2 {
    @apply mb-4 text-2xl font-bold text-balance md:mb-5 md:text-3xl lg:mb-6;
  }

  h3 {
    @apply mb-3 text-xl font-bold text-balance md:mb-4 md:text-2xl;
  }

  h4 {
    @apply mb-3 text-lg font-bold text-balance md:mb-4;
  }

  h5,
  h6 {
    @apply mb-3 text-base font-bold text-balance md:mb-4;
  }

  button {
    cursor: pointer;
  }

  th,
  td {
    @apply p-2;
  }

  th:first-child,
  td:first-child {
    @apply sticky left-0 z-10 text-left shadow-md;
  }

  abbr[title] {
    @apply no-underline hover:underline hover:decoration-dotted hover:underline-offset-2;
  }

  *:focus-visible {
    @apply ring-primary-500 ring-2 ring-offset-2 outline-none;
  }
}

@utility text-subtle {
  @apply text-sm font-normal text-stone-600;
}

@utility px-content {
  @apply px-4 md:px-6 lg:px-8 xl:px-12;
}

@utility py-content {
  @apply py-6 md:py-8;
}

@utility content-container {
  @apply mx-auto max-w-2xl;
}

@utility data-card {
  @apply rounded-lg bg-white p-4 shadow-md;
}

@utility field {
  @apply flex flex-col gap-2;
}

@utility form-control {
  @apply rounded-lg border-1 border-stone-500 px-4 py-2 font-medium;
}

@utility team-col {
  @apply w-28 bg-white text-left;
}

@utility score-col {
  @apply w-8;
}

@utility border-col {
  @apply border-l-1 border-stone-300;
}

@utility tab {
  @apply data-[selected]:border-primary-500 data-[selected]:text-primary-500 cursor-pointer border-b-2 border-stone-300 px-4 py-2 ring-offset-0 transition-all outline-none hover:rounded-t-lg hover:bg-stone-200 focus-visible:border-b-1 focus-visible:bg-stone-100 data-[active]:bg-stone-300 data-[active]:ring-0 data-[selected]:rounded-t-lg data-[selected]:font-semibold md:text-lg;
}

@utility btn-primary {
  @apply bg-primary-500 active:bg-primary-400 hover:text-primary-900 hover:bg-primary-300 rounded-lg px-4 py-2 font-bold text-white transition-colors;
}
